@import "App.scss";

.new-account {
  background-color: $grey;
  min-width: 1040px;
  margin-left: 30px;
  padding-top: 24px;
  border-radius: 16px 0px 0px 16px;
  padding-left: 40px;
}

.back-link {
  text-decoration: none
}

.back-link-content {
  @extend .normal-text;
  font-size: 14px;
  color: $light-grey;
  margin-left: 10px;
  margin-bottom: 4px;
}

.new-account-header {
  margin-top: 16px;
  @extend .normal-text;
  color: $white;
  font-size: 32px;
  margin-bottom: 32px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 1005px;
  @extend .normal-text;
}

.new-account-select {
  background: none;
  height: 40px;
  border-radius: 8px;
  padding-left: 6px;
  color: $white;
  font-size: 16px;
  margin-bottom: 20px;
}

.new-account-select:hover {
  border-color: $dark-grey;
  cursor: pointer;
}

.radio-wrapper {
  height: 79px;
  background: rgba(255, 255, 255, 0.02);
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

.radio-input {
  display: none;
}

.label {
  position: relative;
  color: $white;
  font-size: 16px;
  text-align: center;
  height: 70px;
  width: 244px;
  display: flex;
  justify-content: start;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  margin: 4px;
  padding-left: 12px;
}

.label-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2px;
  width: 48px;
  height: 48px;
  background: linear-gradient(45deg, rgba(62, 59, 224, 0.48) 0%, rgba(126, 193, 255, 0.48) 100%);
  border-radius: 12px;
  margin-right: 12px;
}

.label:hover {
  filter: brightness(110%);
}

.radio-input:checked+label {
  background-color: rgba(255, 255, 255, 0.08);
}

.radio-input:checked+label:after {
  content: "✔";
  width: 22px;
  height: 22px;
  line-height: 22px;
  border-radius: 100%;
  background-color: #476BF0;
  position: absolute;
  top: 22px;
  right: 14px;
}

.radio-input:checked+label>.label-logo {
  background: linear-gradient(45deg, #624AF9 0%, #FF7B51 100%);
}

.bil-info {
  @extend .normal-text;
  font-weight: 700;
  color: $white;
  margin-bottom: 16px;
}

.bil-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 40px;
  margin-bottom: 16px;
}

.bil-input-label {
  line-height: 40px;
}

.bil-input {
  width: 720px;
}

.btn-submit-wrapper {
  display: flex;
  justify-content: end;
  margin-top: 16px;
}

.tooltip span {
  display: none;
  padding: 2px 3px;
  margin-left: 8px;
  width: max-content;
  line-height: 24px;
}

.tooltip:hover span {
  display: inline;
  position: absolute;
  background: $white;
  color: $grey;
  text-decoration: none;
  border-radius: 4px;
}

.tooltip-img {
  margin-left: 8px;
}

.not-reserv-check-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 24px;
}

.not-reserv-check-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.not-reserv-check-input+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.not-reserv-check-input+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $light-grey;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.not-reserv-check-input:checked+label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили при наведении курсора на checkbox */
.not-reserv-check-input:not(:disabled):not(:checked)+label:hover::before {
  cursor: pointer;
  border-color: #b3d7ff;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.not-reserv-check-input:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе */
.not-reserv-check-input:focus+label::before {
  box-shadow: 0 0 0 0.2rem $grey;
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.not-reserv-check-input:focus:not(:checked)+label::before {
  border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.not-reserv-check-input:disabled+label::before {
  background-color: $white;
}

.not-reserv-check-input-label {
  line-height: 22px;
}

.hero-name-render-wrapper {
  margin-left: 285px;
  margin-bottom: 32px;
}

.mc {
  margin-bottom: 16px;
}

.mcc {
  margin-bottom: 8px;
}

.podpisant-input-label {
  max-width: 275px;
  line-height: 20px;
}

.btn-submit {
  @extend .normal-text;
  color: $white;
  font-size: 18px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 32px;
  gap: 12px;
  width: 152px;
  height: 48px;
  border: none;
  background: linear-gradient(270deg, #476BF0 0%, #476BF0 100%);
  border-radius: 25px;
}

.btn-submit:hover {
  cursor: pointer;
  filter: brightness(120%);
}

.btn-submit:active {
  transform: scale(0.98);
}

@media screen and (max-width: $max-width-1440-1920) {
  .new-account {
    min-width: 780px;
    margin-left: 22px;
    padding-top: 18px;
    padding-left: 30px;
  }

  .back-link-content {
    font-size: 10px;
    margin-left: 7px;
    margin-bottom: 3px;
  }

  .new-account-header {
    margin-top: 12px;
    font-size: 24px;
    margin-bottom: 24px;
  }

  .form {
    width: 753px;
  }

  .new-account-select {
    height: 30px;
    border-radius: 6px;
    padding-left: 4px;
    font-size: 12px;
    margin-bottom: 15px;
  }

  .radio-wrapper {
    height: 59px;
    border-radius: 6px;
    margin-bottom: 15px;
  }

  .label {
    font-size: 12px;
    height: 52px;
    width: 183px;
    border-radius: 6px;
    margin: 3px;
    padding-left: 9px;
  }

  .label-logo {
    padding-left: 1px;
    width: 38px;
    height: 38px;
    border-radius: 9px;
    margin-right: 9px;
  }

  .radio-input:checked+label:after {
    width: 16px;
    height: 16px;
    line-height: 16px;
    top: 16px;
    right: 10px;
  }

  .bil-info {
    margin-bottom: 12px;
  }

  .bil-info-wrapper {
    height: 30px;
    margin-bottom: 12px;
  }

  .bil-input-label {
    font-size: 14px;
    line-height: 30px;
  }

  .bil-input {
    width: 500px;
  }

  .btn-submit-wrapper {
    margin-top: 9px;
  }

  .not-reserv-check-wrapper {
    margin-left: 185px;
    margin-bottom: 18px;
  }

  .not-reserv-check-input-label {
    line-height: 16px;
    font-size: 16px;
  }

  .hero-name-render-wrapper {
    margin-left: 253px;
    margin-bottom: 24px;
  }

  .mc {
    margin-bottom: 12px;
  }

  .mcc {
    margin-bottom: 6px;
  }

  .podpisant-input-label {
    font-size: 14px;
    max-width: 206px;
    line-height: 15px;
  }

  .btn-submit {
    font-size: 14px;
    padding: 0px 32px;
    gap: 12px;
    width: 114px;
    height: 36px;
    border-radius: 25px;
  }
}

@media screen and (max-width: $max-width-1280-1440) {
  .new-account {
    min-width: 693px;
    margin-left: 20px;
    padding-top: 10px;
    border-radius: 10px 0px 0px 10px;
    padding-left: 26px;
  }

  .back-link-content {
    font-size: 9px;
    margin-left: 6px;
    margin-bottom: 2px;
  }

  .new-account-header {
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .form {
    width: 670px;
  }

  .new-account-select {
    height: 26px;
    border-radius: 5px;
    padding-left: 4px;
    font-size: 10px;
    margin-bottom: 13px;
  }

  .radio-wrapper {
    height: 52px;
    border-radius: 5px;
    margin-bottom: 13px;
  }

  .label {
    font-size: 10px;
    height: 46px;
    width: 162px;
    border-radius: 5px;
    margin: 2px;
    padding-left: 8px;
  }

  .label-logo {
    padding-left: 2px;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    margin-right: 8px;
  }

  .zakupki,
  .gk {
    line-height: 12px;
  }

  .radio-input:checked+label:after {
    width: 14px;
    height: 14px;
    line-height: 14px;
    top: 14px;
    right: 9px;
  }

  .bil-info {
    margin-bottom: 10px;
  }

  .bil-info-wrapper {
    font-size: 12px;
    height: 26px;
    margin-bottom: 10px;
  }

  .bil-input-label {
    line-height: 32px;
  }

  .bil-input {
    width: 480px;
  }

  .btn-submit-wrapper {
    margin-top: 10px;
  }

  .tooltip-img {
    height: 14px;
  }

  .tooltip span {
    line-height: 16px;
  }

  .tooltip:hover span {
    border-radius: 2px;
  }

  .podpisant-input-label {
    max-width: 175px !important;
    justify-content: space-between;
  }

  .not-reserv-check-wrapper {
    margin-left: 85px;
    margin-bottom: 16px;
  }

  .not-reserv-check-input-label {
    line-height: 18px;
    font-size: 14px;
  }

  .hero-name-render-wrapper {
    margin-left: 190px;
    margin-bottom: 21px;
  }

  .mc {
    margin-bottom: 10px;
  }

  .mcc {
    margin-bottom: 5px;
  }

  .podpisant-input-label {
    max-width: 183px;
    line-height: 13px;
  }

  .btn-submit {
    font-size: 12px;
    padding: 0px 32px; //
    gap: 12px; //
    width: 101px;
    height: 32px;
    border-radius: 25px; //
  }
}