$background: #1D1E21;
$dark-grey: #67696B;

.small-text {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-size: 8px;
  line-height: 14px;
  letter-spacing: 0.8px;
  font-weight: 400;
  color: $dark-grey;
}