$background: #1D1E21;
$dark-grey: #67696B;
$light-grey: #A8A8A8;
$normal-grey: #999999;
$white: #FFFFFF;

.small-text {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-size: 8px;
  line-height: 14px;
  letter-spacing: 0.8px;
  font-weight: 400;
}