@import "App.scss";

.footer {
  background-color: $background;
  color: $dark-grey;
  @extend .small-text;
  width: 100%;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
}