@import "App.scss";

.info-aside {
  min-width: 450px;
  background: #24262A;
  border-radius: 0px 16px 16px 0px;
  @extend .normal-text;
  padding: 24px;
}

.info-aside-information {
  max-width: 380px;
  height: max-content;
  border: 2px solid $grey;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 22px;
  margin-bottom: 24px;
}

.info-aside-title {
  font-weight: 700;
}

.info-aside-ul {
  padding-left: 24px;
}

.info-aside-content {
  margin-bottom: 8px;
}

@media screen and (max-width: $max-width-1440-1920) {
  .info-aside {
    min-width: 330px;
    padding: 18px;
    margin-right: 10px;
  }

  .info-aside-information {
    max-width: 275px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 18px;
    margin-bottom: 18px;
  }

  .info-aside-ul {
    padding-left: 18px;
  }

  .info-aside-content {
    margin-bottom: 6px;
  }
}

@media screen and (max-width: $max-width-1280-1440) {
  .info-aside {
    min-width: 290px;
    padding: 16px;
    margin-right: 10px;
  }

  .info-aside-title {
    font-size: 16px;
  }

  .info-aside-information {
    max-width: 240px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 16px;
    margin-bottom: 16px;
  }

  .info-aside-ul {
    padding-left: 16px;
  }

  .info-aside-content {
    font-size: 12px;
    margin-bottom: 5px;
  }
}