@import "App.scss";

.page-wrapper {
  display: flex;
  background-color: $background;
}

.new-account-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.new-account-wrapper-content {
  display: flex;
  justify-content: space-between;
  min-height: 1080px;
}

@media screen and (max-width: $max-width-1440-1920) {
  .new-account-wrapper-content {
    min-height: 900px;
  }
}

@media screen and (max-width: $max-width-1280-1440) {
  .new-account-wrapper-content {
    min-height: 720px;
  }
}